{{#if isQuestionFormShowing }}
  <form>
    <div class="input-field">
      <label for="question">Question:</label>
      {{input type="text" value=question}}
    </div>
    <div class="input-field">
      <label for="author">Author:</label>
      {{input type="text" value=author}}
    </div>
    <div class="input-field">
      <label for="body">Explanation:</label>
      {{textarea type="text" value=body}}
    </div>
    <button class="btn"{{action 'addQuestion'}}>Submit</button>
    <button class="btn grey"{{action 'hideQuestionForm'}}>Close</button>
  </form>
{{else}}
  <button class="btn"{{action 'showQuestionForm'}}>Ask Question</button>
{{/if}}
