<div class="row">
  <div class="col s12">
    <div class="card deep-orange lighten-4">
      <div class="card-content">
        <br>
        <p>{{answer.body}}</p>
        <br>
        <p>{{answer.author}} answered on {{answer.date}}</p>
        <div class="card-action">
          <div class="row">
            <div class="col s12">
              {{edit-answer answer=answer editAnswer="editAnswer"}}
            </div>
            <!-- <div class="col s12 m6">
              {{edit-question question=model updateQuestion="updateQuestion"}}
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
