{{#if isEditFormShowing}}
  <form>
    <form>
      <div class="input-field">
        <label for="editQuestion"></label>
        {{input type="text" value=question.question }}
      </div>
      <div class="input-field">
        <label for="body"></label>
        {{input type="text" value=question.body}}
      </div>
      <button {{action 'updateQuestion' question}}>Submit</button>
    </form>
  </form>
{{else}}
  <a {{action 'showEditForm'}} class="btn blue-grey lighten-3">Edit</a>
{{/if}}
